<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.akai.mapper.CourseMapper">
    <select id="findAll" resultType="course">
        SELECT cid, orderno, cname, brief, price
        FROM course;
    </select>
    <insert id="insert" parameterType="course">
        insert into course
        values (#{cid}, #{orderno}, #{cname}, #{brief}, #{price})
    </insert>
</mapper>